.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: currentColor;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: var(--fz-normal);
    background-color: transparent;
    cursor: pointer;

}

// Button types
.primary {
    color: var(--black);
    background-color: var(--main-color);
    font-weight: 500;
    border-color: var(--primary);
    transition: all ease .3s;
}

.title {
    display: flex;
    align-items: center;
    gap: 4px;
}