.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: currentColor;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: var(--fz-normal);
    background-color: transparent;
    cursor: pointer;

}

// Button types
.primary {
    // color: var(--white); 
    background-color: var(--primary);
    border-color: var(--primary);
    transition: all ease .3s;
}