.wrapper {
    background-color: var(--white);
    width: 100%;
    border-radius: 8px;
    max-height: min((100vh - 96px) - 60px, 734px);



}

// Responsive 
@media only screen and (max-width: 480px) {
    .wrapper {
        background-color: var(--white);
        width: 100%;
        border-radius: 8px;
        max-width: 400px;
        max-height: min((100vh - 96px) - 60px, 734px);
    }

}