.wrapper {
    width: 100vw;
    height: 80vh;
    opacity: 0.9;
}

.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: relative;
}

.desc {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.34);
    padding: 60px 0;
    transform: translateY(30vh);
    z-index: 2;
}

.content {

    h3 {
        color: rgb(175, 182, 182);
        font-weight: 500;
    }

    q {
        letter-spacing: 2px;
        font-family: 'Dancing Script', cursive;
        color: rgb(175, 182, 182);
    }



}

// Responsive
@media only screen and (max-width: 480px) {
    .wrapper {
        width: 100%;
        height: 40vh;
    }

    .background {}

    .desc {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        background: rgba(0, 0, 0, 0.34);
        padding: 20px 0;
        transform: translateY(50%);
        z-index: 2;
    }

    .content {
        padding: 0 10px;

        h3 {
            display: none;
        }

        q {
            font-size: 1.1rem;
        }
    }

}