.page-item {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 1.1rem;
    cursor: pointer;
}

.page-active {
    background-color: lightcoral;
    padding: 2px 6px;
    border-radius: 4px;
}

.page-disabled-link {
    color: lightgray;
}