.wrapper {
    flex: 1;
    background-color: var(--white);
    border-radius: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search-input {
    width: 90%;
    padding: 10px 20px 10px 20px;
    font-size: var(--fz-md);
    background-color: transparent;
}

.search-icon {
    font-size: 1.2rem;
    background-color: rgba(214, 204, 209, 0.54);
    padding: 10px 14px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;

    &:hover {
        background-color: lightgray;
    }
}

.search-result {
    width: 475px;
}

.clear-icon {
    font-size: 0.8rem;
    padding: 10px;
    cursor: pointer;
    color: gray;
    position: absolute;
    right: 48px;
}

// Responsive
@media only screen and (max-width:480px) {
    .wrapper {
        position: absolute;
        top: 16px;
        right: 60px;

    }

    .search-input {
        box-sizing: border-box;
    }

}