.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--default-background-height);
    background: url('../../assets/imgs/writeBackground.jpg');
}

.container {
    width: var(--default-layout-width);
    height: 70vh;
    background-color: rgba(232, 226, 229, 0.7);
    border-radius: 10px;
    padding: 20px;
}


.img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;

}

.heading {
    font-style: italic;
    margin: 10px 0;
}


.write-group {
    display: flex;
    align-items: center;
    width: 100%;
}

.icon {
    background-color: var(--black);
    color: var(--white);
    padding: 4px;
    border-radius: 50%;
    margin-right: 16px;
}

.choose-file {
    display: none;
}

.write-input {
    width: 100%;
    font-size: 1.4rem;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid transparent;

    &:focus {
        border-color: blue;
    }
}

.textarea {
    width: 100%;
    height: 120px;
    border-radius: 8px;
    margin: 10px 0;
    font-size: 1.4rem;
    border: none;
    padding: 10px;

    &:focus {
        outline: none;
    }
}

.must-login {
    width: var(--default-layout-width);
    background-color: rgba(232, 226, 229, 0.7);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.btn {
    border: 1px solid transparent;
    background-color: var(--main-color);
    transition: all .3s ease-in-out;

    &:hover {
        border-color: var(--main-color);
        color: var(--main-color);
        background-color: var(--white);
    }
}

// Responsive
@media only screen and (max-width: 480px) {
    .wrapper {
        height: auto;
        padding: 30px 10px;
        background: url('../../assets/imgs/backroundWrite.jpg');
    }

    .container {
        width: 100%;
        height: auto;
        background-color: none;
    }

    .heading {
        font-style: italic;
        margin: 10px 0;
        font-size: 1.2rem;
    }


}